/*
======================
Variables
======================
*/
$appMargin: 0.55%;

$xs: 320px; // extra small devices and below
$sm: 650px; // small devices and below
$md: 1024px; // meduim devices and below
$lg: 1440px; // large devices and below
$xl: 1440.1px; // large devices and above
